.container {
  padding: 0 2rem;
  background-color: rgb(13, 15, 29);
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
